nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse' aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      ul.nav.navbar-nav
        li.active
          a.navbar-brand(href='/') #{sitename}
            span.sr-only (current)

    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Forms 
            i.fa.fa-caret-down
            ul.dropdown-menu
              li
                a(href='/form1') Security Form 1
              li
                a(href='/form2') Security Form 2
              li
                a(href='/form3') Security Form 3
              li.divider(role='separator')
              li
                a(href='/incident-report') Incident Report
              li.divider(role='separator')
              li
                a(href='/other-report') Other Form
        li
          a(href='/submitted-forms') Submitted Forms
        li
          a(href='/door-check') Door Check
      form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text', placeholder='Search')
        button.btn.btn-default(type='submit') Submit
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button' aria-haspopup='true' aria-expanded='false') #{username}
            i.fa.fa-caret-down
          ul.dropdown-menu
            li.disabled
              a(href='#') Log Out
