extends layout

block content
  h1 #{sitename}
  h2 #{title}
  h3 Q1

  form(action="/")       
    div.input-group.formField
      span#form1field1.input-group-addon Field 1
      input.form-control(placeholder="Field 1" aria-describedby="form1field1")
    div.input-group.formField
      span#form1field2.input-group-addon Field 2
      input.form-control(placeholder="Field 2" aria-describedby="form2field2")
      span.input-group-addon Ends Here
    div.input-group.formField.floatRight
      input.btn(type="submit" value="Submit")
